/* unslider start */
.unslider {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	overflow: auto;
	position: relative;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.unslider ul {
	list-style: none outside none;
	width: 300%;
	padding: 0;
	margin: 0;
}

.unslider ul li {
	background-size: 100% 100%;
	box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1) inset;
	display: block;
	float: left;
	min-height: 350px;
	width: 33%;
	padding: 0;
	margin: 0;
}

.unslider .inner {
	padding: 160px 0 110px;
	padding: 0;
	margin: 0;
}

.unslider .dots {
	bottom: 20px;
	left: 0;
	position: absolute;
	right: 0;
	padding: 0;
	margin: 0;
}

.unslider .dots li {
	border: 2px solid #FFFFFF;
	border-radius: 6px 6px 6px 6px;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	opacity: 0.4;
	text-indent: -999em;
	transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
	width: 10px;
	padding: 0;
	margin: 0;
	opacity: 0.4;
	margin: 0 4px;
}

.unslider .dots li.active {
	background: none repeat scroll 0 0 #FFFFFF;
	opacity: 1;
}

/* unslider end */
a {
	cursor: pointer;
}

.clearfix:before,.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.pointer {
	cursor: pointer;
}

.inline-b {
	display: inline-block;
}

.t-c {
	text-align: center;
}

.t-l {
	text-align: left;
}

.t-r {
	text-align: right;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.m0 {
	margin: 0;
}

.m5 {
	margin: 5px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.ml0 {
	margin-left: 0;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}

.mr0 {
	margin-right: 0;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mt0 {
	margin-top: 0;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mb0 {
	margin-bottom: 0;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.p0 {
	padding: 0;
}

.p5 {
	padding: 5px;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.pl0 {
	padding-left: 0;
}

.pl5 {
	padding-left: 5px;
}

.pl10 {
	padding-left: 10px;
}

.pl15 {
	padding-left: 15px;
}

.pl20 {
	padding-left: 20px;
}

.pr0 {
	padding-right: 0;
}

.pr5 {
	padding-right: 5px;
}

.pr10 {
	padding-right: 10px;
}

.pr15 {
	padding-right: 15px;
}

.pr20 {
	padding-right: 20px;
}

.pt0 {
	padding-top: 0;
}

.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.pt20 {
	padding-top: 20px;
}

.pb0 {
	padding-bottom: 0;
}

.pb5 {
	padding-bottom: 5px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb15 {
	padding-bottom: 15px;
}

.pb20 {
	padding-bottom: 20px;
}

.fs14 {
	font-size: 14px;
}

.h0 {
	height: 0px;
}

.h5 {
	height: 5px;
}

.h10 {
	height: 10px;
}

.h15 {
	height: 15px;
}

.h20 {
	height: 20px;
}